.box-container{
    display: flex;
    padding:0px 30px 30px 30px;
    justify-content: space-between;
}

#left-nav{
    flex:0.17;
}

#mid-nav-1{
    flex:0.64;
}

#right-nav{
    flex:0.15;
}

.format-typography{
    background: #3f51b5;
    color:white !important;
    padding:10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.breadcrumbs{
    background: #3f51b5;
    color:white !important;
    padding:10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

.paper-margin{
    border-radius: 4px;
    width:100%;
    margin-top:30px !important;
}

.list-items{
    padding:20px;
    cursor: pointer;
}

.inner-app-bar{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#full-width-tabpanel-0 > div,#full-width-tabpanel-1 > div,#full-width-tabpanel-2 > div{
    padding:5px;
}

#full-width-tabpanel-2 > div{
    padding:0px;
}

.inner-pad{
    padding:10px;
}

#pagination-container .MultiPagination-spacer{
    flex:none;
}

#pagination-container .MuiToolbar-root > p:first-of-type{
    display: none;
}

#pagination-container .MuiTablePagination-input{
    display: none;
}
